html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font: 16px "Montserrat", sans-serif;
    color: #333;
}

.main {
    flex: 1;
}

.header {
    background-color: #F8F6F7;
    overflow: hidden;
    background: url("./images/header_background_image.png");
}

.header-top,
.footer-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.header-top {
    padding: 30px 0;
    align-items: baseline;
}

.footer-content {
    padding: 20px 0;
    align-items: center;
}

.header .container {
    position: relative;
}

html, body, .wrapper {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header, .footer {
    flex-shrink: 0;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 15px;
    width: 100%;
}

.section {
    padding: 50px 0px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.section-title {
    font-family: inherit;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.phone-number a,
.logo,
.navigation a {
    color: #333;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

.navigation li:not(:last-child) {
    margin-right: 28px;
}

.navigation a {
    font-weight: 500;
    font-size: 14px;
    transition: 0.15 color;
}

.navigation a:hover {
    color:#00BF78;

}

.phone-number {
    display: flex;
    flex-direction: column;
}

.phone-number a {
    font-size: 18px;
    font-weight: 500;
    text-align: right;
}

.phone-number div {
    font-size: 11px;
    font-weight: 400;
    text-align: right;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0 130px 0;
}

.header-hero {
    display: flex;
    flex-direction: column;
    max-width: 540px;
}

.header-hero h1 {
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}

.header-hero p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 59px;
}

.base-button
{
    background-color: #FB9475;
    border-radius: 24px;
    border-color: transparent;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    padding: 17px 30px;
    align-self: flex-start;
}

.header-image {
    height: 510px;
    width: 524px;
    position: absolute;
    bottom: 0;
    right: 80px;
}

.header-image::after{
    content:'';
    background: url("./images/makiiazh-devushka.png");
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 2;
}

.header-image::before {
    content: '';
    width: 472px;
    height: 472px;
    background-color: #FB9475;
    position: absolute;
    bottom: -110px;
    right: 0;
    border-radius: 50%;
    z-index: 0;
}

.vk-link,
.inst-link,
.youtube-link {
    width: 28px;
    height: 28px;
}

.vk-link {
    background: url("./images/vk-link.png");
    margin-bottom: 20px;
}

.inst-link {
    background: url("./images/inst-link.png");
    margin-bottom: 20px;
}

.youtube-link {
    background: url("./images/youtube-link.png");
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-subheader {
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    max-width: 570px;
    margin: 0 0 16px 0;
    line-height: 32px;
}

.about-text {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    max-width: 538px;
    line-height: 26px;
}

.image-content{
    width: 445px;
    height: 296px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./images/video_about_us.png");
    border-radius: 8px;
    position: relative;
}

.image-inner-elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25%;
}

.play-button {
    content: '';
    width: 61px;
    height: 61px;
    background: url("./images/play-video.png");
}

.about-video-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    font-family: inherit;
    color: #FFF;
    text-align: center;
}

.copyright {
    margin-bottom: 8px;
}

.about-content-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.about-content-bottom-item {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.about-content-bottom-subtitle {
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;
    margin-top: 20px;
    text-align: center;
}

.about-content-bottom-text {
    max-width: 296px;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
    margin-top: 12px;
    text-align: center;
}

.about-content-bottom-img {
    width: 48px;
    height: 48px;
    align-self: center;
}
