html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font: 16px "Montserrat", sans-serif;
    color: #333;
}

.main {
    flex: 1;
}

.header {
    background-color: #F8F6F7;
    overflow: hidden;
    background: url("./images/header_background_image.png");
}

.header__top,
.footer__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.header__top {
    padding: 30px 0;
    align-items: baseline;
}

.footer__content {
    padding: 20px 0;
    align-items: center;
}

.header .container {
    position: relative;
}

html, body, .wrapper {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header, .footer {
    flex-shrink: 0;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 15px;
    width: 100%;
}

.section {
    padding: 50px 0px;
}

.section__section-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.section-top__section-top-title {
    font-family: inherit;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.phone-worktime-info__phonenumber,
.logo,
.navigation__link {
    color: #333;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

.navigation__item:not(:last-child) {
    margin-right: 28px;
}

.navigation__link {
    font-weight: 500;
    font-size: 14px;
    transition: 0.15 color;
}

.navigation__link:hover {
    color:#00BF78;

}

.navigation__link--small-size {
    font-size: 12px;
    font-weight: 400;
}

.phone-worktime-info {
    display: flex;
    flex-direction: column;
}

.phone-worktime-info__phonenumber {
    font-size: 18px;
    font-weight: 500;
    text-align: right;
}

.phone-worktime-info__worktime {
    font-size: 11px;
    font-weight: 400;
    text-align: right;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0 130px 0;
}

.header__hero {
    display: flex;
    flex-direction: column;
    max-width: 540px;
}

.hero__title {
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}

.hero__subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 59px;
}

.base-button {
    cursor: pointer;
    background-color: #FB9475;
    border-radius: 24px;
    border-color: transparent;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    padding: 17px 30px;
    align-self: flex-start;
}

.header__main-image {
    height: 510px;
    width: 524px;
    position: absolute;
    bottom: 0;
    right: 80px;
}

.header__main-image::after {
    content:'';
    background: url("./images/makiiazh-devushka.png");
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 2;
}

.header__main-image::before {
    content: '';
    width: 472px;
    height: 472px;
    background-color: #FB9475;
    position: absolute;
    bottom: -110px;
    right: 0;
    border-radius: 50%;
    z-index: 0;
}

.header__social {
    list-style: none;
}

.social__item {
    text-decoration: none;
    display: block;
    width: 28px;
    height: 28px;
}

.social__item:not(:last-child) {
    margin: 0 0 20px 0;
}

.section__section-content {
    display: flex;
    justify-content: space-between;
}

.about-text-content__subheader {
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    max-width: 570px;
    margin: 0 0 16px 0;
    line-height: 32px;
}

.about-text-content__text {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    max-width: 538px;
    line-height: 26px;
}

.about-image-content{
    width: 445px;
    height: 296px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./images/video_about_us.png");
    border-radius: 8px;
    position: relative;
}

.about-image-content__image-inner-elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25%;
}

.image-inner-elem__play-button {
    content: '';
    width: 61px;
    height: 61px;
    background: url("./images/play-video.png");
}

.image-inner-elem__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    font-family: inherit;
    color: #FFF;
    text-align: center;
}

.footer-info__copyright {
    margin-bottom: 8px;
}

.about-advantage-content {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.about-advantage-content__advantage-item {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.advantage-item__subtitle {
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;
    margin-top: 20px;
    text-align: center;
}

.advantage-item__cabinets-text,
.advantage-item__cosmetics-text,
.advantage-item__masters-text {
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
    margin-top: 12px;
    text-align: center;
}

.advantage-item__img {
    width: 48px;
    height: 48px;
    align-self: center;
}

.advantage-item__cabinets-text {
    max-width: 296px;
}

.advantage-item__cosmetics-text {
    max-width: 255px;
}

.advantage-item__masters-text {
    max-width: 263px;
}

.footer-info {
    font-size: 12px;
    font-weight: 400;
}
