.appointment-form {

    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 445px;
    padding: 40px;
    border-radius: 8px;
    margin-top: -100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    &__title {

        font-size: 16px;
        font-weight: 600;
        line-height: 14px;
        margin: 0 0 15px 0;
    }
    
    &__description {

        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
        margin: 0 0 15px 0;
    }

    &__input-area {

        margin-top: 35px;
        display: flex;
        flex-direction: column;
    }

    &__agreement {
    
    margin: 16px 0 0 0;
     font-size: 12px;
     font-weight: 300;
     line-height: 14.63px;   
    }

    &__select {

        margin-bottom: 15px;
        padding: 16px 15px;

        &--default-border {

            border-radius: 4px;
            border: 1px solid #D8D8D8;
        }

        &:invalid {

            color: #D8D8D8;
        }
    }

    &__input {

        margin-bottom: 15px;
        padding: 16px 15px;

        &--default-border {

            border-radius: 4px;
            border: 1px solid #D8D8D8;
        }

        &::placeholder{

            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            color: #A0A0A0;
        }
    }
}

.appointment-form--dialog {

    display: none;
}