.contacts-content {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts-info{

    display: flex;
    flex-direction: column;

    &__adress{

        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        line-height: 19.5px;
        margin-bottom: 20px;
    }

    &__email{

        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        margin-bottom: 32px;
    }

    &__number{

        font-size: 16px;
        font-weight: 400;
        color: #333;
        text-decoration: none;
        line-height: 14px;
        margin-bottom: 20px;
    }
}

.contact-links{

    &__subheader{

        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        margin-bottom: 14px;
    }
}

.quick-record-form {

    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 445px;
    padding: 40px;
    border-radius: 8px;
    margin-top: -100px;

    &__title {

        font-size: 16px;
        font-weight: 600;
        line-height: 14px;
        margin: 0 0 15px 0;
    }
    
    &__description {

        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
    }

    &__input-area {

        margin-top: 35px;
        display: flex;
        flex-direction: column;
    }

    &__accepting {
    
    margin: 16px 0 0 0;
     font-size: 12px;
     font-weight: 300;
     line-height: 14.63px;   
    }
}

.input-area {
  
    &__name-input, &__phone-input {

        border-radius: 4px;
        border: 1px solid #D8D8D8;
        margin-bottom: 20px;
        padding: 16px 15px;

        &::placeholder{

            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            color: #A0A0A0;
        }
    }
}
