.hamburger-navigation {

    display: none;

    &__menu {

        background-color: #FFF; 
        position: fixed; 
        left: 0; 
        right: 0; 
        top: 0; 
        bottom: 0; 
        overflow: auto; 
        transition: .15s;
        transform: translateX(-100%); 
        
        & a {

            text-decoration: none;
            color: #333;
        }

        & ul {

            margin-top: 100px;
            list-style: none;
        }

        & li {

            padding: 10px 0;
            font-size: 22px;
        }
    }

    &__menu.visible { 
        transform: translateX(0); 
     } 

    &__toggle {

        left: 0;
        position: absolute;

        & input {

            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            
            cursor: pointer;
            
            opacity: 0; /* hide this */
            z-index: 2; /* and place it over the hamburger */
            
            -webkit-touch-callout: none;
          }
    
          & span {
    
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            
            background: #666;
            border-radius: 3px;
            
            z-index: 1;
            
            transform-origin: 4px 0px;
            
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
          }

          & span:first-child {

            transform-origin: 0% 0%;
          }

          & span:nth-last-child(1) {

            transform-origin: 0% 100%;
          }

          & input:checked ~ span {

            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: #232323;
          }

          & input:checked ~ span:nth-last-child(2) {

            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
          }

          & input:checked ~ span:nth-last-child(1) {

            transform: rotate(-45deg) translate(0, -1px);
          }

    }
      
}