/* Large Devices, Wide Screens */ 
@media only screen and (max-width: 1280px) { 

} 
/* Medium Devices, Desktops */ 
@media only screen and (max-width: 992px) { 

    .navigation__list {
        justify-content: center;
        align-items: center;
    }

    .header__main-image {
        opacity: 0.5;
    }

} 
/* Small Devices, Tablets */ 
@media only screen and (max-width: 768px) {

    .hamburger-navigation {

        display: block;
    }

    .header {
        
        &__top {

            flex-direction: row;
        }

        &__main-image {

            opacity: 0;
        }

        &__content {

            flex-direction: column;
        }

        &__hero {

            align-items: center;
        }
    }

    .social-list--vertical {
        
        flex-direction: row;
        padding-top: 76px;
    }

    .social-element-vertical:not(:last-child) {

        margin: 0 20px 0 0;
    }

    .hero {

        &__title {
            text-align: center;
        }
    }

    .header__nav, .footer__nav{

        display: none;
    }

    .contacts-content {

        flex-direction: column;
    }

    .quick-record-form {

        margin: 20px 0;
        align-self: center;
    }

    .about-info {

        flex-direction: column;
    }

    .about-image-content {

        align-self: center;
    }

    .logo {

       position: absolute;
       margin-left: 50px;
       z-index: 0;
    }
} 
/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) { 
    
    .hamburger-navigation {

        &__toggle {

            position: absolute;
        }
    }

    .quick-record-form {

        width: 350px;
    }

    .about-image-content {

        align-self: center;
        width: 300px;
        height: 205px;
    }

    .logo {

        position: static;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .header {

        &__content {

            padding: 20px 0;
        }
        
        &__top {

            flex-direction: column;
            align-items: center;
        }
    }
} 
/* Custom, iPhone Retina */ 
@media only screen and (max-width: 320px) { 
}