.section {
    padding: 50px 0px;
    position: relative;

    &--grey {

        background-color: #F8F6F7;
    }

    &__section-top {

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
        max-width: 1100px;
    }

    &__section-content {

        display: flex;
        justify-content: center;
        flex-direction: column;

        &--top--margin--minus--48px {

            margin-top: -48px;
        }
    }
}

.section-top {

    &__section-top-title {

        font-size: 48px;
        font-weight: 700;
        margin: 0;
    }
}
