/*.works-gallery{

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.work{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    &__picture img {

        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__picture {
        display: flex;
        justify-content: center;
        height: 338px;
        width: 338px;
        border-radius: 8px;
        position: relative;
        cursor: pointer;
    }

    &__picture:hover{
        scale: 1.1;
        z-index: 2;
    }

    &__picture:hover::before {
        content:"";
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #000;
        opacity: 0.5;
        border-radius: 8px;
        z-index: 3;
    }

    &__picture:hover::after {
        content: url("./../assets/images/search.png") '\0aУвеличить';
        white-space: pre;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        text-align: center;
        color: #FFF;
        position: absolute;
        z-index: 4;
    }
}
*/

.using-brands{

    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 100px 0;
    max-width: 1100px;

    &__description {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        font-family: inherit;
    }
}

.brand-container {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    & img {

        justify-content: center;
        margin-top: 40px;
        opacity: 0.35;
    }
}

.works-gallery {
    padding: 24px 0 70px;

    &__picture-list {
        list-style: none;
        margin: 0;
        padding: 0 0 30px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    &__picture {
        margin: 0 10px;
        max-width: 338px;
        height: 338px;
        cursor: pointer;
        position: relative;
        transition: 0.3s scale;

        &:hover {

            scale: 1.1;
        }

        & img {
            object-fit: cover;
            max-width: 100%;
            height: 100%;
            object-position: center;
            display: block;
            border-radius: 8px;
            transition: 0.3s scale;
        }

        & img:hover {

            scale: 1.1;
        }

        &::after {
            content: "";
            position: absolute;
            border-radius: 8px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #333;
            opacity: 0;
            transition: 0.3s opacity;
            z-index: 0;
        }

        &:hover::after {
            opacity: 0.4;
        }

        &::before {
            content: "Увеличить";
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            text-justify: auto;
            color: #FFF;
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 190px 0 0;
            background-repeat: no-repeat;
            background-position: 50% 45%;
            background-size: 48px 48px;
            background-image: url("../assets/images/search.png");
            opacity: 0;
            transition: 0.2s opacity;
            z-index: 1;

        }

        &:hover::before {
            opacity: 1;
        }
    }
}
