.about-info {

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    &__about-image-content {

        width: 445px;
        height: 296px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./../assets/images/video_about_us.png");
        background-size: cover;
        border-radius: 8px;
        position: relative;
        object-fit: cover;
    }
}

.about-text-content {
    
    display: flex;
    flex-direction: column;

    &__subheader {
        font-family: inherit;
        font-size: 20px;
        font-weight: 400;
        max-width: 570px;
        margin: 0 0 16px 0;
        line-height: 32px;
    }
    
    &__text {
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
        max-width: 538px;
        line-height: 26px;
    }

}

.about-image-content {

    &__image-inner-elem {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25%;
    }
}

.image-inner-elem {

    &__play-button {
        content: '';
        width: 61px;
        height: 61px;
        background: url("./../assets/images/play-video.png");
        cursor: pointer;
    }
    
    &__text {
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        font-family: inherit;
        color: #FFF;
        text-align: center;
    }

}

.about-advantage-content {

    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    flex-direction: row;

    &__advantage-item {
        display: flex;
        flex-direction: column;
        max-width: 350px;
    }
}

.advantage-item {

    &__subtitle {
        font-size: 18px;
        font-weight: 600;
        font-family: inherit;
        margin-top: 20px;
        text-align: center;
    }
    
    &__cabinets-text,
    &__cosmetics-text,
    &__masters-text {
        font-size: 14px;
        font-weight: 400;
        font-family: inherit;
        margin-top: 12px;
        text-align: center;
    }
    
    &__img {
        width: 48px;
        height: 48px;
        align-self: center;
    }
    
    &__cabinets-text {
        max-width: 296px;
    }
    
    &__cosmetics-text {
        max-width: 255px;
    }
    
    &__masters-text {
        max-width: 263px;
    }

}