/*Раздел "Услуги и цены"*/

.price-cell {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 57px;

    &__cost {
        color: #00BF78;
        font-size: 20px;
        font-weight: 600;
        line-height: 24.38px;
    }
}

.price-info {

    margin-top: 57px;
    display: flex;
    flex-direction: row;

    &__service-name {
        font-size: 18px;
        font-weight: 500;
        line-height: 21.94px;
    }

    &__description {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.07px;
    }
}

.service-and-price {

      &__tab { 
        display: none; 

        &.active { 
          display: block; 
        } 
      } 

      &__menu-button {
        border: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        font-size: 14;
        font-weight: 500;

            &:hover {
                color: #00BF78;
                transition: 0.2s;
            }

            &.active {
                color: #00BF78;
                text-decoration: underline;
            }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        min-height: 100px;
        
    }

    &__list-item {
        list-style: none;
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }

}